# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Database
*.db
*.sqlite

# Excel exports
*.xlsx
*.csv

# Node
node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
